
/* CSS code */
body{
background-color:rgb(0, 0, 0);
}

#file__input{
    visibility: hidden;
}

.profilePic__display{
    cursor: pointer;
}

.default__pic{
   width:160px;
   height:160px;
   border-radius:100%;
   object-fit: cover;
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%, -50%);
}